<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="home-wrapper">
                    <h1 class="icon-main text-primary m-b-25"><i class="md md-equalizer"></i></h1>
                    <h2 class="home-text text-uppercase"><%= message %></h2>
                    <h4>Welcome back</h4>
                    <p>
                    	<a href="/auth/login.html" class="btn btn-success btn-rounded w-lg animated fadeInDown">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- END HOME -->