<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
                <div class="row">

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-line-chart"></i> Data
                            </a>
                            <a href="/account/list.html" class="list-group-item"><i class="fa fa-bullhorn fa-2x"></i>  Users <span class="badge"><%= users.total %></span></a>
                            <a href="/website/manage.html" class="list-group-item"><i class="fa fa-file fa-2x"></i> Platforms <span class="badge"><%= platforms %></span></a>
                            <a href="/account/invoices.html" class="list-group-item"><i class="fa fa-file fa-2x"></i> Invoices <span class="badge"><%= invoices %></span></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="list-group">
                            <a class="list-group-item active text-center">
                                <i class="fa fa-pie-chart"></i> Monitor
                            </a>
                            <a href="/admin/search.html?model=user&amp;key=admin&amp;sign=equal&amp;value=1" class="list-group-item"><i class="fa fa-user-secret fa-2x"></i>  Admins <span class="badge"><%= users.admin %></span></a>
                            <a href="/support/manageticket.html" class="list-group-item"><i class="fa fa-tags fa-2x"></i>  Tickets <span class="badge"></span></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>