<!-- SCREENSHOTS -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="feature-detail text-center">
                    <h1 class="title fadeIn animated">Whitelist your AdBlock Traffic</h1>
                    <h2 class="sub fadeIn animated">Find out how many of your visitors are blocking your Ads.</h2>
                    <a href="index.html" class="btn btn-primary btn-rounded w-lg animated fadeInDown">Sign up FREE</a>
                </div>
                <p style="padding-top: 50px;"><img src="/img/newstats.png" class="img-responsive" alt="Whitelist AdBlock Traffic"></p>
            </div>
        </div>
    </div>
</section>
<!-- END SCREENSHOTS -->
<!-- SERVICES -->
<section class="section bg-gray" id="how-it-work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title zoomIn animated">How can Monitor AdBlock help you?</h2>
                <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">Know with certainty how your business is affected by the usage of ad blockers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                    <i class="ti-desktop"></i>
                    <div class="service-detail">
                        <h4>Reveals Advertising Revenue Impact</h4>
                        <p>Find out the impact that ad blocking is having on your businesses revenue enabling you to make an informed decision on how your business will respond to this new technology.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
            <div class="col-sm-4">
                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                    <i class=" ti-shield"></i>
                    <div class="service-detail">
                        <h4>Device, OS, Browser & Country Stats</h4>
                        <p>See exactly how visitors are accessing your website broken down by device type along with detailed platform information and which country the visitor is located in.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
            <div class="col-sm-4">
                <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                    <i class=" ti-server"></i>
                    <div class="service-detail">
                        <h4>Unlimited Websites & Pageviews</h4>
                        <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    </div>
                    <!-- /service-detail -->
                </div>
                <!-- /service-item -->
            </div>
            <!-- /col -->
        </div>
        <!--end row -->
    </div>
</section>
<!-- END SERVICES -->
<!-- FAQ -->
<section class="section bg-gray" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="title zoomIn animated wow" data-wow-delay=".1s">FAQ</h1>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <!-- Question/Answer -->
                <div class="animated fadeInLeft wow" data-wow-delay=".1s">
                    <h4 class="question" data-wow-delay=".1s">How to get Started?</h4>
                    <p class="answer">You can register for a free trial account add your site then get code, insert the code between body tags and see the traffic roll in</p>
                </div>
                <div class="animated fadeInLeft wow" data-wow-delay=".1s">
                    <h4 class="question" data-wow-delay=".1s">How does the free trial work?</h4>
                    <p class="answer">You can use our service absolutely free to analyze 10,000 unique visitors to a single website or across multiple websites. Once that limit has been reached, you will be notified via email and a message in your account that we have paused analyzing your website data until you sign up for one of our account plans.</p>
                </div>
            </div>
            <!--/col-md-5 -->
            <div class="col-md-5">
                <!-- Question/Answer -->
                <div class="animated fadeInLeft wow" data-wow-delay=".3s">
                    <h4 class="question">Do you track visitors?</h4>
                    <p class="answer m-b-0">No we dont track any user behaviour only adblockers.</p>
                </div>
                <div class="animated fadeInLeft wow" data-wow-delay=".3s">
                    <h4 class="question">Can I change plans at any time?</h4>
                    <p class="answer m-b-0">Yes. You can upgrade or downgrade your plan at any time via your account after you've successfully logged into it.</p>
                </div>
            </div>
            <!--/col-md-5-->
        </div>
    </div>
</section>
<!-- END FAQ -->
