<!-- PRICING -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Plans and Pricing</h1>
                <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">No obligation, no credit card required. Upgrade, downgrade, or cancel anytime.</p>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <!-- Pricing Item -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".3s">
                            <div class="pricing-item-inner">
                                <div class="pricing-wrap">
                                    <div class="pricing-num pricing-num-pink"><sup>$</sup>5</div>
                                    <div class="pr-per">per month</div>
                                    <!-- Pricing Title -->
                                    <div class="pricing-title">
                                        Basic
                                    </div>
                                    <!-- Pricing Features -->
                                    <div class="pricing-features">
                                        <ul class="sf-list pr-list">
                                            <li>20,000 Visitors</li>
                                            <li>Unlimited pageviews</li>
                                            <li>Free Support</li>
                                        </ul>
                                    </div>
                                    <!-- Button -->
                                    <div class="pr-button">
                                        <a href="/auth/register.html?plan=basic" class="btn btn-primary btn-rnd">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                    <!-- Pricing Item -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="pricing-item main animated fadeInLeft wow" data-wow-delay=".5s">
                            <div class="ribbon">
                                <span>POPULAR</span>
                            </div>
                            <div class="pricing-item-inner">
                                <div class="pricing-wrap">
                                    <div class="pricing-num"><sup>$</sup>10</div>
                                    <!-- Pricing Title -->
                                    <div class="pricing-title">
                                        Plus
                                    </div>
                                    <!-- Pricing Features -->
                                    <div class="pricing-features">
                                        <ul class="sf-list pr-list">
                                            <li>50,000 Visitors</li>
                                            <li>Unlimited pageviews</li>
                                            <li>Free Support</li>
                                        </ul>
                                    </div>
                                    <!-- Button -->
                                    <div class="pr-button">
                                        <a href="/auth/register.html?plan=plus" class="btn btn-primary btn-rnd">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                    <!-- Pricing Item -->
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="pricing-item animated fadeInLeft wow" data-wow-delay=".7s">
                            <div class="pricing-item-inner">
                                <div class="pricing-wrap">
                                    <div class="pricing-num pricing-num-yellow">
                                        <sup>$</sup>20
                                    </div>
                                    <!-- Pricing Title -->
                                    <div class="pricing-title">
                                        Premium
                                    </div>
                                    <!-- Pricing Features -->
                                    <div class="pricing-features">
                                        <ul class="sf-list pr-list">
                                            <li>100,000 Visitors</li>
                                            <li>Unlimited pageviews</li>
                                            <li>Free Support</li>
                                        </ul>
                                    </div>
                                    <!-- Button -->
                                    <div class="pr-button">
                                        <a href="/auth/register.html?plan=premium" class="btn btn-primary btn-rnd">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PRICING -->