<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-center card-box">
            <p class="text-muted text-nowrap">Plan</p>
            <h3 class="text-primary counter">Trial</h3>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-center card-box">
            <p class="text-muted text-nowrap">Price</p>
            <h3 class="text-primary counter">FREE</h3>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-center card-box">
            <p class="text-muted text-nowrap">Visitor Used</p>
            <h3 class="text-primary counter">100</h3>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="widget-simple-chart text-center card-box">
            <p class="text-muted text-nowrap">Visitor Limit</p>
            <h3 class="text-primary counter">50000</h3>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="text-dark header-title m-t-0 text-center">Billing History</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Method</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (i in invoices) { %>
                        <tr>
                            <td><%= invoices[i].created %></td>
                            <td>Paypal <small>(<%= invoices[i].payid %>)</small></td>
                            <td><%= invoices[i].amount %></td>
                            <td>
                                <% if (invoices[i].live) { %>
                                <span class="label label-success">Paid</span>
                                <% } else { %>
                                <span class="label label-warning">Pending</span>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -8 -->

</div>
<!-- end row -->