<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Monitor ADBlock</a>
			</div>

			<ull class="nav navbar-nav navbar-right">
				<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
			</ull>
		</div>
	</nav>
</header>